@model PMSShoppingApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}
<html class="loading" lang="en" data-textdirection="rtl">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reset Password</title>
    <!-- <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png"> -->
    <link rel="shortcut icon" type="image/x-icon" src="~/Assets/ResetPassword/image/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link href="~/Assets/ResetPassword/vendors/css/vendors-rtl.min.css" rel="stylesheet" />
    <link href="~/Assets/ContentCommon/fonts/boxicons-2.0.5/css/boxicons.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/fontawsv4")
    @Styles.Render("~/bundles/iconic")
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link href="~/Assets/ResetPassword/css-rtl/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Assets/ResetPassword/css-rtl/bootstrap-extended.min.css" rel="stylesheet" />
    <link href="~/Assets/ResetPassword/css-rtl/colors.min.css" rel="stylesheet" />
    <link href="~/Assets/ResetPassword/css-rtl/components.min.css" rel="stylesheet" />
    <link href="~/Assets/ResetPassword/css-rtl/theme/dark-layout.min.css" rel="stylesheet" />
    <link href="~/Assets/ResetPassword/css-rtl/theme/semi-dark-layout.min.css" rel="stylesheet" />
    <link href="~/Assets/ResetPassword/css-rtl/custom-rtl.min.css" rel="stylesheet" />
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link href="~/Assets/ResetPassword/css-rtl/menu/vertical-menu.min.css" rel="stylesheet" />
    <link href="~/Assets/ResetPassword/css-rtl/page/authentication.css" rel="stylesheet" />
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link href="~/Assets/ResetPassword/assets/css/style-rtl.css" rel="stylesheet" />
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- reset password start -->
                <section class="row flexbox-container">
                    <div class="col-xl-7 col-10">
                        <div class="card bg-authentication mb-0">
                            <div class="row m-0">
                                <!-- left section-login -->
                                <div class="col-md-6 col-12 px-0">
                                    <div class="card disable-rounded-right d-flex justify-content-center mb-0 p-2 h-100">
                                        <div class="card-header pb-1">
                                            <div class="card-title">
                                                <h4 class="text-center mb-2">Reset your Password</h4>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "mb-2", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.HiddenFor(model => model.Code)
                                                    <div class="form-group">
                                                        <label class="text-bold-600" for="userName">User Name</label>
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter your user name", @id = "userName" })
                                                    </div>
                                                        <div class="form-group">
                                                            <label class="text-bold-600" for="email">Email</label>
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email",@id="email" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-bold-600" for="newPassword">New Password</label>
                                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter a new password", @id = "newPassword", @type = "password" })
                                                        </div>
                                                        <div class="form-group mb-2">
                                                            <label class="text-bold-600" for="confirmPassword">
                                                                Confirm New
                                                                Password
                                                            </label>
                                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm your new password", @id = "confirmPassword", @type = "password" })
                                                            
                                                        </div>
                                                        <button type="submit" class="btn btn-primary glow position-relative w-100">
                                                            Reset my
                                                            password<i id="icon-arrow" class="bx bx-right-arrow-alt bx-fade-right"></i>
                                                        </button>
                                                    
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- right section image -->
                                <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                                    <img class="img-fluid" src="~/Assets/ResetPassword/image/reset-password.png"
                                         alt="branding logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- reset password ends -->

            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Assets/ResetPassword/vendors/js/vendors.min.js"></script>
    <script src="~/Assets/ResetPassword/fonts/LivIconsEvo/js/LivIconsEvo.tools.min.js"></script>
    <script src="~/Assets/ResetPassword/fonts/LivIconsEvo/js/LivIconsEvo.defaults.min.js"></script>
    <script src="~/Assets/ResetPassword/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>

    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Assets/ResetPassword/js/vertical-menu-light.min.js"></script>
    <script src="~/Assets/ResetPassword/js/app-menu.min.js"></script>
    <script src="~/Assets/ResetPassword/js/app.min.js"></script>
    <script src="~/Assets/ResetPassword/js/components.min.js"></script>
    <script src="~/Assets/ResetPassword/js/footer.min.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->
    @if (ViewData.ModelState["CustomError"] != null && ViewData.ModelState["CustomError"].Errors.Any())
    {
        @Html.Partial("~/Views/Shared/ErrorFrendly.cshtml", ViewData.ModelState["CustomError"].Errors.First().ErrorMessage.ToString())
    }
    @if (ViewData.ModelState["CustomSuccess"] != null && ViewData.ModelState["CustomSuccess"].Errors.Any())
    {
        @Html.Partial("~/Views/Shared/SuccessFriendly.cshtml", ViewData.ModelState["CustomSuccess"].Errors.First().ErrorMessage.ToString())
        <script>
            setTimeout(() => {
            window.location.replace('@Url.Action("Login", "Account")')
            },3000)
        </script>
    }

</body>
<!-- END: Body-->
</html>